
@{
    ViewBag.Title = "Hata Oluştu.";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @{ 
            Exception ex = null;

            if(TempData["LastError"] != null)
            {
                ex = TempData["LastError"] as Exception;
            }
        }
        <h1><span class="glyphicon glyphicon-remove-circle"></span>Hata Oluştu!</h1>
        <p>
            Hata Oluştu. Lütfen site yöneticisiyle iletişime geçiniz.
            <br /><br />

            @if(ex != null)
            {
                <strong>Hata Detayı : </strong>
                @ex.Message
                <br /><br /><br />
            }

            @Bootstrap.LinkButton("/Home/Index", "default", "", "", "home", "Ana Sayfaya Git!")
            @Bootstrap.LinkButton("mailto:baranvelat021@gmail.com", "primary", "", "", "envelope", "E-Posta Gönder")
        </p>
    </div>
</div>

